<%-include('top');%>
<div id="goods_conteiner">
    
    <%if(goods) {
    for(item of goods) {%>
        <div class="goods">
            <a class="view_btn" href="<%=url%>/view/<%=item.title%>/">
            <img class="front" src="<%=item.images[0]%>">
            <div class="goods_label">
                <h1><%=item.title%></h1>
            <div class="goods_price_div"><%=item.price%>₴</div>
            <a class="buy_button" href="/addtobasket/<%=item.title%>/">Buy</a>
            </div>
            </a>
        </div>

    <% }
    }%>
</div>
<%-include('bottom');%>