<%-include('top');%>

<div id="goods_conteiner">
    
    <%if(goods) {
    for(item of goods) {%>
        <div class="goods">
            <a class="view_btn" href="<%=url%>/view/<%=item.title%>/">
            <img class="front" src="<%=item.images[0]%>">
            <div class="goods_label">
                <h1><%=item.title%></h1>
            </div>
            </a>
                <div class="goods_bottom">
                    <div class="goods_price_div"><%=item.price%>₴</div>
                    <a class="buy_button" lot="<%=item.title%>" href="<%=url%>">Buy</a>
                </div>
        </div>

    <% }
    }%>
    <%if(pagesCount > 1) {%>
        <div id="pages_nav">
        <%for(let i = 0; i <= pagesCount; i++) {%>
            <a href="<%=url%>/<%=i + 1%>"><%=i + 1%></a>
    <% } %>
        </div>
    <% } %>
</div>
<%-include('bottom');%>
<script src="/js/basket/goodsaddingTobasket.js"></script>
<script src="/js/basket/displaingGoodsButtonsState.js"></script>