<%-include('top');%>

<div id="goods_conteiner">
    
    <%if(goods) {
    for(item of goods) {%>
        <div class="goods">
            <a class="view_btn" href="<%=url%>/view/<%=item.title%>/">
            <img class="front" src="<%=item.images[0]%>">
            <div class="goods_label">
                <h1><%=item.title%></h1>
            </div>
            </a>
                <div class="goods_bottom">
                    <div class="goods_price_div"><%=item.price%>₴</div>
                    <a class="buy_button" lot="<%=item.title%>" href="<%=url%>">Buy</a>
                </div>
        </div>

    <% }
    }%>
</div>
<%-include('bottom');%>
<script src="/js/goodsaddingTobasket.js"></script>