<%-include('top');%>

<div id="lot_conteiner">
    <%if (lot) {%>
        <h1><%=lot.title%></h1>
        <div id="lot_gallery">
            <div class="lot_pictures">
                <% for (image of lot.images) { %>
                <img src="<%=image%>">
                <% } %>
            </div>
            <img class="lot_front_pic" src="<%=lot.images[0]%>">
        </div>
    <div class="lot_status">
        <a class="buy_button" lot="<%=lot.title%>" href="<%=url%>">Buy</a>
        <div class="lot_price">
            <%=lot.price%>₴
        </div>
    </div>
    <div class="lot_characteristics">
        <table>
        <% for(key in lot.characteristics) { %>
            <tr>
                <td><%=key%></td>
                <td><%=lot.characteristics[key]%></td>
            </tr>
        <% } %>
        </table>
    </div>
    <%}%>
</div>

<%-include('bottom');%>
<script src="/js/switchingPictures.js"></script>
<script src="/js/basket/goodsaddingTobasket.js"></script>